name: Publish crates on crates.io

on:
  workflow_dispatch:
    inputs:
      gm-hsm-sys-version:
        description: "gm-hsm-sys: major/minor/patch or semver or none if not updating derive crate"
        required: false
        default: "none"
      gm-hsm-skf-version:
        description: "gm-hsm-skf: major/minor/patch or semver or none if not updating derive crate"
        required: false
        default: "none"
      gm-hsm-sdf-version:
        description: "gm-hsm-sdf: major/minor/patch or semver or none if not updating derive crate"
        required: false
        default: "none"

#permissions:                    # Global permissions configuration starts here
#  contents: read                # 'read' access to repository contents
#  pull-requests: write          # 'write' access to pull requests

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:                # Job-level permissions configuration starts here
      contents: write           # 'write' access to repository contents
      pull-requests: write      # 'write' access to pull requests
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
          fetch-depth: 0             # otherwise, you will fail to push refs to dest repo
          #ref: ${{ github.head_ref }}
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Set git credentials
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Install tools
        run: |
          cargo install -q cargo-get cargo-edit

      - name: "[gm-hsm-sys] Bump"
        if: "${{ github.event.inputs.gm-hsm-sys-version == 'major' || github.event.inputs.gm-hsm-sys-version == 'minor' || github.event.inputs.gm-hsm-sys-version == 'patch' }}"
        #working-directory: ${{ github.workspace }}
        run: |
          cargo set-version --bump ${{ github.event.inputs.gm-hsm-sys-version}} -p gm-hsm-sys
          CRATE_TAG="$(cd gm-hsm-sys && cargo get package.name)-$(cd gm-hsm-sys && cargo get package.version --pretty)"
          git add .
          git commit -am "Release: $CRATE_TAG"
          git tag "$CRATE_TAG"

      - name: "[gm-hsm-sys] Push"
        uses: ad-m/github-push-action@master
        if: "${{ github.event.inputs.gm-hsm-sys-version == 'major' || github.event.inputs.gm-hsm-sys-version == 'minor' || github.event.inputs.gm-hsm-sys-version == 'patch' }}"
        with:
          branch: ${{ github.ref }}
          tags: true

      - name: "[gm-hsm-sys] Publish"
        if: "${{ github.event.inputs.gm-hsm-sys-version == 'major' || github.event.inputs.gm-hsm-sys-version == 'minor' || github.event.inputs.gm-hsm-sys-version == 'patch' }}"
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN  }}
        run: cargo publish --no-verify -p gm-hsm-sys


      - name: "[gm-hsm-skf] Bump"
        if: "${{ github.event.inputs.gm-hsm-skf-version == 'major' || github.event.inputs.gm-hsm-skf-version == 'minor' || github.event.inputs.gm-hsm-skf-version == 'patch' }}"
        #working-directory: ${{ github.workspace }}
        shell: bash
        run: |
          cargo set-version --bump ${{ github.event.inputs.gm-hsm-skf-version}} -p gm-hsm-skf
          CRATE_TAG="$(cd gm-hsm-skf && cargo get package.name)-$(cd gm-hsm-skf && cargo get package.version --pretty)"
          git add .
          git commit -am "Release: $CRATE_TAG"
          git tag "$CRATE_TAG"

      - name: "[gm-hsm-skf] Push"
        uses: ad-m/github-push-action@master
        if: "${{ github.event.inputs.gm-hsm-skf-version == 'major' || github.event.inputs.gm-hsm-skf-version == 'minor' || github.event.inputs.gm-hsm-skf-version == 'patch' }}"
        with:
          branch: ${{ github.ref }}
          tags: true

      - name: "[gm-hsm-skf] Publish"
        if: "${{ github.event.inputs.gm-hsm-skf-version == 'major' || github.event.inputs.gm-hsm-skf-version == 'minor' || github.event.inputs.gm-hsm-skf-version == 'patch' }}"
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN  }}
        run: cargo publish --no-verify -p gm-hsm-skf


      - name: "[gm-hsm-sdf] Bump"
        if: "${{ github.event.inputs.gm-hsm-sdf-version == 'major' || github.event.inputs.gm-hsm-sdf-version == 'minor' || github.event.inputs.gm-hsm-sdf-version == 'patch' }}"
        #working-directory: ${{ github.workspace }}
        shell: bash
        run: |
          cargo set-version --bump ${{ github.event.inputs.gm-hsm-sdf-version}} -p gm-hsm-sdf
          CRATE_TAG="$(cd gm-hsm-sdf && cargo get package.name)-$(cd gm-hsm-sdf && cargo get package.version --pretty)"
          git add .
          git commit -am "Release: $CRATE_TAG"
          git tag "$CRATE_TAG"

      - name: "[gm-hsm-sdf] Push"
        uses: ad-m/github-push-action@master
        if: "${{ github.event.inputs.gm-hsm-sdf-version == 'major' || github.event.inputs.gm-hsm-sdf-version == 'minor' || github.event.inputs.gm-hsm-sdf-version == 'patch' }}"
        with:
          branch: ${{ github.ref }}
          tags: true

      - name: "[gm-hsm-sdf] Publish"
        if: "${{ github.event.inputs.gm-hsm-sdf-version == 'major' || github.event.inputs.gm-hsm-sdf-version == 'minor' || github.event.inputs.gm-hsm-sdf-version == 'patch' }}"
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN  }}
        run: cargo publish --no-verify -p gm-hsm-sdf